.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #eee;
 }

.avatar-img-nav {
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.avatar-img {
	width: 55px;
	height: 55px;
	overflow: hidden;
}

.icon {
width: 20px;
}

.arrow-down {
width: 13px;
}

.action {
width: 23%;
}

.attendance-action{
	width: 10%;
}

.btn-action {
width: 45px;
}

.profile-pic-box {
width: 40px;
height: 40px;
overflow: hidden;
}

.profile-pic {
width: 50px;
}

.sub-item {
max-height: 100px;
overflow-y: auto;
}

.preview {
width: 200px;
}

/* .show {
width: 300px;
} */

#secondary-content {
height: max-content;
}

.user-profile {
	color: black;
}

.btn-success{
	transition: all .5s ease;
	border-radius: 30px;
	color:#fff;
}

.btn-danger{
	transition: all .5s ease;
	border-radius: 30px;
	color:#fff;
}

.btn-warning{
	transition: all .5s ease;
	border-radius: 30px;
	color:#fff;
}

.btn-primary{
	transition: all .5s ease;
	border-radius: 30px;
	color:#fff;
}

.btn-info{
	transition: all .5s ease;
	border-radius: 30px;
	color:#fff;
}

.qr-icon {
	width: 20px;
}

.qr-icon:hover {
	cursor: pointer;
}